* {
    box-sizing: border-box;
    font-family: "Quantico", sans-serif;
}

body {
    margin: 0;
    height: 100vmax;
    background-color: #FBFBFB;
}

header {
    background-color: #d6eadf;
    height: 50vmin;
    display: flex;
    justify-content: center;
}

header nav {
    padding: 5vmin;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 3vmax;
    font-weight: 700;
}

main {
    display: flex;
    height: 40vmin;
    justify-content: center;
}

section.wrapper {
    display: grid;
    background-color: #FBFBFB;
    height: 70vmin;
    width: 80vmax;
    padding: 10px;
    position: absolute;
    top: 17.5vmin;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
    grid-template: 
    "card-input card-input card-search card-search" 1fr
    "card-input card-input card-unfinished card-finished" 1fr
    "card-input card-input card-unfinished card-finished" 1fr
    "card-input card-input card-unfinished card-finished" 1fr/
    1fr 1fr 1fr 1fr;
    gap: 10px;
}

.card-input, .card-search,
.card-finished, .card-unfinished {
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
}

.card-input {
    grid-area: card-input;
    background-color: #b8e0d4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-search {
    grid-area: card-search;
    background-color: #eadfd6;
}

.card-finished {
    grid-area: card-finished;
    background-color: #c4d5ea;
}

.card-unfinished {
    grid-area: card-unfinished;
    background-color: #eac4d5;
    overflow-y: auto;
}

.card-search,
.card-finished, .card-unfinished {
    padding-inline: 20px;
}

h1 {
    font-weight: 400;
    font-size: 20px;
    margin-block: 1.5vmin 1vmin;
}

h1.insert-title {
    font-size: 2.5vmax;
    margin: 5vmin 0 3vmin 0;
}

form.form-input {
    width: 70%;
}

input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
}

.form-input input:nth-of-type(3) {
    width: 50%;
}

.form-input label:nth-of-type(3) {
    display: block;
}

.form-input > input[type="checkbox"] {
    width: 5%;
    vertical-align: middle;
}

.form-input > input[type="submit"] {
    margin-top: 15px;
    width: 100%;
    height: 2.5vmax;
}

.form-search > input[type="text"] {
    width: 90%;
    margin-right: 5px;
}

.form-search > input[type="submit"] {
    width: auto;
    text-align: center;
    text-indent: 0;
}

input {
    background-color: #FBFBFB;
    border-style: solid;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    height: 2.5vmax;
    text-indent: 10px;
}

.card-books-finished, .card-books-unfinished {
    border: 1.5px solid black;
    width: 100%;
    height: 17vmin;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    display: grid;
    gap: 3px;
    padding: 10px;
    margin-bottom: 22px;
}

.card-books-unfinished {
    grid-template: 
    "h2 h2 h2 pict-book" 1fr
    "h3 h3 h3 pict-book" 1fr
    "btn-finished btn-finished btn-delete btn-delete" 1fr/
    1fr 1fr 1fr 1fr;
}

.card-books-finished {
    grid-template: 
    "h2 h2 h2 pict-book" 1fr
    "h3 h3 h3 pict-book" 1fr
    "btn-unfinished btn-unfinished btn-delete btn-delete" 1fr/
    1fr 1fr 1fr 1fr;
}

h2 {
    font-weight: 400;
    font-size: 16px;
    margin-block: 0;
    grid-area: h2;
}

h3 {
    font-weight: 400;
    font-size: 10px;
    margin: 0 0 10px 0;
    grid-area: h3;
    color: rgb(70, 70, 70);
}

button[type="submit"] {
    display: inline;
    font-size: 9px;
    border: 0.5px solid black;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
}

button[type="submit"][class="btn-finished"] {
   grid-area: btn-finished;
}

button[type="submit"][class="btn-unfinished"] {
   grid-area: btn-unfinished;
}

button[type="submit"][class="btn-delete"] {
   grid-area: btn-delete;
}
