* {
    box-sizing: border-box;
    font-family: "Quantico", sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #FBFBFB;
}

header {
    background-color: #d6eadf;
    height: 50vh;
    display: flex;
    justify-content: center;
}

header nav {
    padding: 5vmin;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 3vmax;
    font-weight: 700;
}

main {
    display: flex;
    height: 40vmin;
    justify-content: center;
}

section.wrapper {
    display: grid;
    background-color: #FBFBFB;
    height: 70vh;
    width: 80vmax;
    padding: 10px;
    position: absolute;
    top: 17.5vmin;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
    grid-template: 
    "card-input card-input card-search card-search" 1fr
    "card-input card-input card-unfinished card-finished" 1fr
    "card-input card-input card-unfinished card-finished" 1fr
    "card-input card-input card-unfinished card-finished" 1fr/
    1fr 0.8fr 1.1fr 1.1fr;
    gap: 10px;
}

.card-input, .card-search,
.card-finished, .card-unfinished {
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
}

.card-input {
    grid-area: card-input;
    background-color: #b8e0d4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-search {
    grid-area: card-search;
    background-color: #eadfd6;
}

.card-finished {
    grid-area: card-finished;
    background-color: #c4d5ea;
    overflow-y: auto;
}

.card-unfinished {
    grid-area: card-unfinished;
    background-color: #eac4d5;
    overflow-y: auto;
}

.card-search,
.card-finished, .card-unfinished {
    padding-inline: 20px;
}

h1 {
    font-weight: 400;
    font-size: 20px;
    margin-block: 1.5vmin 1vmin;
}

h1.insert-title {
    font-size: 2.5vmax;
    margin: 5vmin 0 3vmin 0;
}

form.form-input {
    width: 70%;
}

.form-input input[type="text"] {
    width: 100%;
    margin-bottom: 1.5vmin;
}

.form-input input:nth-of-type(3) {
    width: 50%;
}

.form-input label {
    font-size: 14px;
}

.form-input label:nth-of-type(3) {
    display: block;
}

.form-input > input[type="checkbox"] {
    width: 5%;
    vertical-align: middle;
}

.form-input > input[type="checkbox"]:hover {
    cursor: pointer;
}

.form-input > input[type="submit"] {
    margin-block: 15px;
    width: 100%;
    height: 3vmax;
    background-color: #a6daca;
    border: 1.5px solid black;
}

.form-input > input[type="submit"]:hover,
.form-search > input[type="submit"]:hover {
    cursor: pointer;
    background-color: transparent;
}

.form-search > input[type="text"] {
    width: 90%;
}

.form-search > input[type="submit"] {
    width: auto;
    text-align: center;
    text-indent: 0;
    background-color: #e7d5c9;
    border: 1.5px solid black;
}

input {
    background-color: #FBFBFB;
    border-style: solid;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    height: 2.5vw;
    text-indent: 10px;
}

.card-books-finished, .card-books-unfinished {
    border: 1.5px solid black;
    width: 100%;
    height: 19vmin;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    display: grid;
    gap: 3px;
    padding: 10px;
    margin-bottom: 22px;
}

.card-books-unfinished {
    grid-template: 
    "h2 h2 h2 pict-book" 1fr
    "h3 h3 h3 pict-book" 1fr
    "btn-finished btn-finished btn-delete btn-delete" 0.4fr/
    1fr 1fr 1fr 1fr;
}

.card-books-finished {
    grid-template: 
    "h2 h2 h2 pict-book" 1fr
    "h3 h3 h3 pict-book" 1fr
    "btn-unfinished btn-unfinished btn-delete btn-delete" 0.4fr/
    1fr 1fr 1fr 1fr;
}

h2 {
    font-weight: 400;
    font-size: 14px;
    margin-block: 0;
    grid-area: h2;
}

h3 {
    font-weight: 400;
    font-size: 10px;
    margin: 0 0 10px 0;
    grid-area: h3;
    color: rgb(70, 70, 70);
}

button[type="submit"] {
    display: inline;
    font-size: 8px;
    border: 0.5px solid black;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
}

button[type="submit"][class="btn-finished"] {
   grid-area: btn-finished;
   background-color: #968d60;
   color: #FBFBFB;
}

button[type="submit"][class="btn-unfinished"] {
    grid-area: btn-unfinished;
    background-color: #968d60;
    color: #FBFBFB;
}

button[type="submit"][class="btn-delete"] {
    grid-area: btn-delete;
    background-color: #c45161;
    color: #FBFBFB;
}

button[type="submit"][class="btn-delete"]:hover {
    cursor: pointer;
    background-color: #de5e6f;
}

button[type="submit"][class="btn-unfinished"]:hover,
button[type="submit"][class="btn-finished"]:hover  {
    cursor: pointer;
    background-color: #a79d68;
}

h6 {
    color: rgb(14, 14, 14);
    margin: 5px 0;
    font-size: 0.8vmax;
    text-align: center;
    /* background-color: powderblue; */
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1em;
    color: rgb(14, 14, 14);
    /* background-color: #ff0844; */
}

.social-media a {
    /* text-decoration: none; */
    color: rgb(14, 14, 14);
}

/* mobile screen */
@media screen and (max-width: 767px) {
    section.wrapper {
        height: 100vmax;
        width: 100%;
        grid-template: 
        "card-input card-input card-input card-input" 1fr
        "card-search card-search card-search card-search" 0.5fr
        "card-unfinished card-unfinished card-unfinished card-unfinished" 1fr
        "card-finished card-finished card-finished card-finished" 1fr/
        1fr 1fr 1fr 1fr;
    }

    h1.insert-title {
        margin: 2vmin 0 1vmin 0;
    }
    
    .form-input label {
        font-size: 3vmin;
    }

    input {
        height: 2.5vh;
    }
    
    .form-search > input[type="text"] {
        width: 85%;
    }
    
}

